[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/eigenlayer-middleware"]
	path = contracts/lib/eigenlayer-middleware
	url = https://github.com/Layr-Labs/eigenlayer-middleware
[submodule "contracts/lib/v3-periphery"]
	path = contracts/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "contracts/lib/v2-periphery"]
	path = contracts/lib/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "contracts/lib/balancer-v2-monorepo"]
	path = contracts/lib/balancer-v2-monorepo
	url = https://github.com/balancer/balancer-v2-monorepo
[submodule "contracts/lib/landingprotocol"]
	path = contracts/lib/landingprotocol
	url = https://github.com/mergd/landingprotocol
[submodule "contracts/lib/ccip-read"]
	path = contracts/lib/ccip-read
	url = https://github.com/mergd/ccip-read
